/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

$r:  'Roboto';
$m: 'Merriweather';


body{
      background-color: #C1B285;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

}

.sidebar{
  width: 20vw;
  float: left;
  height: 100vh;
  position: fixed;
  background-color: #696B46;
}

.allbutton{
margin-top: 30%;
}
.sidebutton
{
  cursor: pointer;
  font-family: $r;
  width: 100%;
  padding: 5% 0;
  text-align: center;
  background-color: #696B46;
  color: #E8EEED;
  text-transform: uppercase;
}

.sidebutton:hover{
  background-color: #C1B285;
  color: #696B46;
}

.sidebutton:active{
  background-color: #C1B285;
  color: #696B46;

}

.sidebutton:target{
  background-color: #C1B285;
  color: #696B46;

}


.container{
	// background-color: white;
	// float: right;
	margin-left: 20vw;
	width: 80vw;
	// height: 50vh;
	// margin-bottom: 2%;
overflow: hidden;
// overflow-x: scroll;
     // white-space:nowrap;


	.moviescontainer{
		white-space: nowrap;
	  width: calc((200px + 0px) * 16 + 20px);
	  height: 40vh;
	  will-change: transition;
	  transition: 70ms all;
margin-left: 5vw;

	img{
		float: left;
		// transition: transform 250ms ease;
		// transform: perspective(500px);
		border-radius: 10px;
		box-shadow: 0px 0px 5px grey;
	  width: 3%;
	  margin: 3% .1%;
		 opacity: 0.8;
 filter: alpha(opacity=80);
}
}
}

.contentSection{
	clear: both;
margin-left: 20vw;
width: 80vw;
	padding: 2%;
	h1{
		text-transform: uppercase;
		color: #696B46;
		font-size: 2vw;
		border-bottom: 1px solid #696B46;
	}
	h3{
		margin-top: 1vh;
	}
}


img::last-child
{
	margin-right: 20px;

}
img:hover{
	transition: .1s;
	border-radius: 10px;
	box-shadow: 0px 0px 5px grey;
	transform: scale(1.03,1.03);
	 opacity: 1;
 filter: alpha(opacity=100);
 display: block;
 	// transform: perspective(500px) translatez(50px);

}


.leftright{
	margin-top: 25vh;
	position: fixed;
	// margin-left: 40vw;
	z-index: 2;
}

.right{
	// float: left;
	margin-left: 65vw;
	// background-color: rgba(0,0,0,.2);
	cursor: pointer;
	color: white;
	padding: 2%;

}

.left{
	cursor: pointer;
	color: white;
	float: left;
	padding: 2%;
}

.right:hover{
	transition: .2s;
	color: white;
	background-color: #696B46;

}

.left:hover{
	transition: .2s;
	color: white;
	background-color: #696B46;

}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	text-decoration: none;
	color: inherit;
}
.moviebuttons{
	clear: both;
margin-left: 20vw;
width: 80vw;
	padding: 2%;
	margin-top: -10%;
}
.button{
  background-color: #4B3831;
  color: white;
  padding: 1%;
  width: 12%;
  text-align: center;
  margin-top: 10%;
  float: left;
  margin-left: 5%;
  overflow: hidden;
  font-size: .8vw;
  font-family: 'Merriweather', serif;
}

.editimage{
	display: block;
	width: 50%;

}

.editimage:hover{
	display: block;
	filter: scale(1.0, 1.0);
	border-radius: 0px;
}

// .carousel{
// 	position: initial;
// 	overflow-x: hidden;
//
// }
// .carousel-control {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     font-carousel-controlsize: 3vw;
//     color: #fff;
//     text-align: center;
// 		font-size: 5vw;
//     // text-shadow: 0 1px 2px rgba(0,0,0,.6);
//     // background-color: rgba(0,0,0,0);
//     // filter: alpha(opacity=0);
//     opacity: 1;
// 		margin-top: 30vh;
// 		margin-left: 15vw;
// 		background: none;
//     // filter: progid:none;
// 		overflow-x: hidden;
//
// }
//
// .rightside{
// 	position: absolute;
// 	top: 0;
// 	bottom: 0;
// 	right: 0;
// 	margin-left: 85vw;
//
// }
//
// #slider {
//   white-space: nowrap;
//   margin-top: 20px;
//   width: calc((200px + 20px) * 16 + 20px);
//   height: 300px;
//   will-change: transition;
//   transition: 70ms all;
// }
//
// #slider div {
//   float: left;
//   height: 300px;
//   width: 200px;
//   margin-left: 20px;
//   color: white;
//   font-weight: 700;
//   text-align: center;
//   line-height: 300px;
//   font-size: 3em;
//   transition: transform 250ms ease;
//   transform: perspective(500px);
// }
// #slider div:hover {
//   transform: perspective(500px) translatez(50px);
// }
// #slider div::last-child {
//   margin-right: 20px;
// }
//
// .carousel-inner .active.left {
//   left: -25%;
// }
// .carousel-inner .next {
//   left:  25%;
// }
// .carousel-control {
//   width:  4%;
// }
// .carousel-control.left,.carousel-control.right {
//   margin-left:15px;
//   background-image:none;
// }
